
button {
  display:block;
  padding:0.5em 3em;
  background: transparent;
  border:0.16em solid #B71C1C;
  margin:0 auto;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:sans-serif;
  font-weight:400;
  color:#B71C1C;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer;
}

button:hover {
  border-color:rgb(156, 39, 39);
}

footer {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #B71C1C;
  text-decoration: none;
  cursor: pointer;
}


.card,
.body-container {
  padding: 0.6em;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.body-container *:last-child {
  margin-bottom: 0;
}

.sources {
  display: block;
  font-size: 14px;
  margin-bottom: 1.45rem;
}

@media only screen and (max-width: 475px) {
  .entry .title {
    width: 100% !important;
  }
}



/* Buy Me A Coffee */
.bmc-button img{margin: 0 auto !important; width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#B71C1C !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}